#header{
background: rgb(218, 212, 212);
}
#row2{
background: white;
}
#row3{

}
#row4{

}
#footer{
    background: rgb(216, 206, 206);

}
.d-block{
height: 624px;
width: 100%;
}
.carousel-caption{
    background: blue;
    

}
.fa{
    padding: 12px;
    font-weight: bolder;
    margin: 12px;
    font-size: 24px;

}
.fa:hover{
    color: white;
}
.fa-facebook, .fa-twitter, .fa-linkedin{
    padding: 12px;
    border: 2px solid ;
}
